thead, td, tbody{
    text-align: center;
}

h6{
    margin-left: 10px;
}


.header{
    border: 1px solid black;
    padding: 10px;
}
#logo{
    height: 150px;
    margin-top: 10px;
}
#buscar{
    width: 300px;
    position: absolute;
    top: 75px;
    right: 30px;
}
#add{
    position:absolute;
    right: 40px;
    margin-top: 10px;
}
.nav-1{
    border: 1px solid black;
    margin: 10px auto;
}
.nav-1 a{

    text-decoration: none;
    color: black;
}
.nav-1 a:hover{
    background-color: rgb(82, 82, 219);
    padding: 15px;
}
.sec-1{
    border: 1px solid black;
    padding: 10px;
    margin: 20px auto;
}
.sec-2{
    margin-top: 70px;
}
@media screen and (max-width:600px){
    .email{
        display: none;
    }
}
a{
    color: white;
    text-decoration: none;
}
footer{
    border: 1px solid black;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 100px;
}

footer a:hover, .nav-1 a:hover{
    text-decoration: underline;
}